.form-container {
    display: flex;
    flex-direction: column;
  } 

  .mt15{
    margin-top:15%;
  }

  .cardcss{
    width: 96%;
    text-align: center;
    color: white;
    background-color: #3f51b5;
  }