<!-- <div fxLayout="column" class="mat-elevation-z24"  fxLayoutAlign="center center" > hey there</div> -->
<div fxLayout="column" class="mat-elevation-z24 mt15" fxFlex="50" fxFlexOffset="30" fxLayoutAlign="center center">
    <form class="form-container" [formGroup]="buyForm">
        <mat-form-field class="" appearance="legacy">
            <mat-label>Enter Quantity</mat-label>
            <input type="number" matInput placeholder="Enter Quantity" (keyup)="onKey($event)" formControlName="quantity" [(ngModel)]="quantitys">
            <!-- <mat-error *ngIf="quantity.hasError('required')">
                Quantity is <strong>required</strong>
            </mat-error> -->
            <mat-error>
                {{errorMessage}}
            </mat-error>
        </mat-form-field>

            <div fxLayout="row">
                <mat-label>Total Value: </mat-label>
                <span matPrefix>$&nbsp;</span>
                <span >{{quantitys * 206 || price}}</span>
                <span matSuffix>.00</span>
            </div>
            <br>
        <button  *ngIf="hide" mat-raised-button ng-disabled="!contractTypeValid" (click)="openDialog()">Buy</button>
        <button  *ngIf="!hide" mat-raised-button ng-disabled="!contractTypeValid" (click)="sellStock(quantiy)">sell</button>
        <br>
    </form>
</div>
