<p>learnrxjs works!</p>
<button (click)="createObservable()">create</button>
<button (click)="createObservableAsync()">Async</button>
<button (click)="createObservableAsyncWithSubscription()">AsyncWithUnsubscribe</button>
<button (click)="creationOperators()">creationoperator</button>
<button (click)="basicoperators()">basic operator with debug</button>
<button (click)="flatteningOperators()">Flatening operators</button>
<button (click)="mergmap()">mergemap</button>
<hr>
<button (click)="concatOperator()">Concat Map</button>
<hr>
<button #stream>createClick event stream</button>
<input #textStream type='text' name="stream">
