<p>learnrxjs works!</p>
<button (click)="createObservable()">create</button>
<button (click)="createObservableAsync()">Async</button>
<button (click)="createObservableAsyncWithSubscription()">AsyncWithUnsubscribe</button>
<button (click)="callGitHub()">call git hub</button>
<button (click)="debugOprator()">Debug with tap</button>
<button (click)="concatOperator()">Concat Map</button>
<button (click)="flatteningOperators()">Flatening operators</button>

<button #stream>createClick event stream</button>
<input #textStream type='text' name="stream">
