<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="true">
    <mat-toolbar>
        <a class="-logo js-gps-track" data-gps-track="top_nav.click({is_current:false, location:2, destination:8})">
          <span class="-img _glyph">Stack Overflow</span>
        </a>
    </mat-toolbar>
    <mat-nav-list>
      <a  mat-list-item [routerLink]="[ 'portfolio']" routerLinkActive="is-active">Portfolio</a>
      <a mat-list-item [routerLink]="[ 'buysell']" routerLinkActive="is-active">Buy/Sell</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="button-spacer">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>  
      <div>
        <button mat-button style="text-align: right" (click)="onLogOut()">Log Out</button>
      </div>
    </mat-toolbar>
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
