::ng-deep .bg { 
    background-image: url("/assets/giphy.gif"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%; 
  }

