.spacer {
    flex: 1 1 auto;
  }
  ::ng-deep .custom-modalbox {
    mat-dialog-container {
        box-shadow: none;
        background: none;
        display: flex;
        
    }
}
.is-active{
  color: yellowgreen;
}