<div class="bg-img">
        <div class="totalClass">
                <mat-card >
                    <mat-toolbar class= "panelText"><b>Sign Up</b></mat-toolbar>
                    <mat-card-content><br/><br/>
                        <form [formGroup] = 'regDetailsForm' (ngSubmit)="onRegitration()">
                
                            <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px" fxLayoutGap.xs="0">
                                <div class = "namePadding" fxFlex = "50%">
                                    <mat-form-field class="full-width">
                                        <mat-label>  <i class="fas fa-file-signature"></i>
                                            Firstname
                                        </mat-label>
                                        <input matInput formControlName='firstName' placeholder="Firstname" type="text">
                                    </mat-form-field>
                                    </div>
                                    <div class = "namePadding" fxFlex = "50%">
                                            <mat-form-field class="full-width">
                                     <mat-label> <i class="fas fa-file-signature"></i>
                                        Lastname
                                    </mat-label>
                                   
                                    <input matInput formControlName='lastName' placeholder="Lastname">
                                    </mat-form-field>
                                </div>
                            </div>
                
                            <p>
                                <mat-form-field class="full-width">
                                    <mat-label> <i class="fas fa-envelope fa-1x"> </i>
                                        Email
                                    </mat-label>
                                    <input matInput formControlName='email' placeholder="Email" 
                                    pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"> 
                                </mat-form-field>
                            </p>
                
                            <p>
                                <mat-form-field class="full-width">
                                    <mat-label> <i class="fas fa-key fa-1x"> </i>
                                        Password
                                    </mat-label>
                                    <input matInput matTooltip= "Enter atleast 8 characters Uppercase,Lowercase and !@#$... " 
                                    formControlName='password' type='password' 
                                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,99}$" placeholder="Password">
                                </mat-form-field>
                            </p>
                            <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px" fxLayoutGap.xs="0">
                
                            <div fxFlex = "50%">
                                    <mat-form-field class="full-width">
                                    <mat-label> <i class="fas fa-mobile-alt"></i>
                                        PhoneNumber
                                    </mat-label>
                                    <input matInput formControlName='phonenumber' placeholder="eg:1234567890"> 
                                    <!-- id='phone' (keyup)='phoneValidator()' -->
                                    </mat-form-field>
                            </div>
                            <div fxFlex = "50%">
                                    <mat-form-field class="full-width">
                                    <mat-label><i class="fas fa-user-lock"></i>
                                        #SSN
                                    </mat-label>
                                    <input formControlName='ssn' matInput placeholder="eg:345-34-345">
                                    <!-- (keyup)="ssnValidator()" id="ssn" -->
                                </mat-form-field>
                            </div>
                        </div>
                         <mat-accordion>
                            <mat-expansion-panel>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Payment Information
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px" fxLayoutGap.xs="0">
                              <div flex = "50%">
                                    <mat-form-field appearance="outline">
                                            <mat-label> <i class="fas fa-credit-card"></i>
                                                CreditCardNumber
                                            </mat-label>
                                            <input formControlName='creditCardNumber' matInput 
                                            placeholder="eg:2345-2345-2345" 
                                            style="margin-right:20px">
                                            <!-- (keyup)="cardValidator()" id="card"  -->
                                          </mat-form-field>
                              </div>
                              <div flex = "50%">
                                    <mat-form-field>
                                            <mat-label>Expiration Date</mat-label>
                                            <input matInput placeholder="MM-YYYY" formControlName="date" 
                                            pattern = "^((0|1)\d{1})-((19|20)\d{2})">
                                          </mat-form-field>
                              </div>
                              </div>
                              <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px" fxLayoutGap.xs="0">
                               <div class = "cvvPadding" fxFlex = "50%">
                                    <mat-form-field appearance="outline">
                                            <mat-label ><img src="../../assets/download.png" width="27px" height="23px">
                                                CVV
                                            </mat-label>
                                            <input formControlName="cvv" matInput placeholder="eg:123" 
                                            style="margin-right:20px" >
                                            <!-- (keyup)="cvvValidator()" id="cvv"  -->
                                    </mat-form-field>
                              </div>
                             <div fxFlex = "50%">
                                <mat-form-field>
                                    <input formControlName="amount" matInput placeholder="Amount" type="number" 
                                    class="example-right-align" >
                                    <span matPrefix>$&nbsp;</span>
                                    <!-- <span matSuffix>.00</span> -->
                                </mat-form-field>
                            </div>
                            </div>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </form>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button type = "submit" (click)="onRegitration()" color="primary" 
                        [disabled]="!regDetailsForm.valid">Register</button>
                    </mat-card-actions>
                </mat-card>
                </div>
                
</div>