<div style="overflow: hidden">
        <mat-card>
                <mat-card-title>Login</mat-card-title>
                <mat-card-content>
                  <form>
                      <p>  
                      <mat-form-field class="full-width">
                        <mat-label> <i class="fas fa-envelope fa-1x"> </i>  
                            Email
                        </mat-label>
                        <input  matInput  placeholder="Email" [(ngModel)]="email" name="email" pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                      </mat-form-field>
                      </p>
          
                      <p>
                      <mat-form-field class="full-width">
                        <mat-label> <i class="fas fa-key fa-1x"> </i> 
                            Password
                        </mat-label>
                        <input  matInput  type = 'password' placeholder="Password" [(ngModel)]="password" name="password" required>
                      </mat-form-field>
                      </p> 
                      
                      <p>
                        <mat-label style="color: red"> 
                              {{errorMessage}}
                          </mat-label>
                        </p> 

                  </form>
                </mat-card-content>
                <mat-card-actions >
                  <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
                </mat-card-actions>
          </mat-card>
    </div> 
