.btn-w-md.ml-3 {
    color: green;
}

.BuySellButton {
    display: flex;
    position: relative;
    align-items: center;
    top: 70%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 200px;
}