<mat-form-field>   
  <mat-label> <i class="fas fa-search fa-1x"> </i>  
    Search Stocks
</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)">
</mat-form-field>


<div class="no-records" *ngIf="dataSource?.filteredData.length == 0"> No records found !</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource?.filteredData.length !=0"> 
  
  <ng-container>
    <mat-cell *matCellDef> {{dataSource}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row matRipple *matRowDef="let row; columns: displayedColumns;" [routerLink]="['home', row.name, 'info']"></mat-row>

</mat-table>

<router-outlet></router-outlet>