table {
    width: 100%;
   }
  
   mat-table mat-row.mat-row{
    cursor: pointer;
  }
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
    
  .mat-row{        
      position: relative;
  }
  
  .mat-row-link{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;             
  }
  
  .no-records {
    text-align: center;
    color: crimson;
  }    

  .table_empty {
    display: none;
  }