<mat-form-field>       
    <mat-placeholder>
    <mat-icon>search</mat-icon>
    </mat-placeholder>
    <input matInput (keyup)="applyFilter($event.target.value)"placeholder=" Search Stocks">
</mat-form-field> 

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="postId">
    <mat-header-cell *matHeaderCellDef> PostId </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.postId}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row matRipple *matRowDef="let row; columns: displayedColumns;" [routerLink]="['home', row.name, 'info']"></mat-row>
</mat-table>
<router-outlet></router-outlet>

