<div class="w3-content w3-margin-top" style="max-width:1400px;">
    <div class="w3-row-padding">
      <div class="w3-twothird" style="width:100%">
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h4 class="w3-margin-right w3-xxlarge w3-text-teal"></h4>
          <form novalidate (ngSubmit)="save()" [formGroup]="userForm">

              <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="firstNameId">First Name</label>
                <div class="col-md-8">
                  <input class="form-control w3-input" id="firstNameId" type="text" placeholder="{{firstName}}"
                    formControlName="firstName" minlength="3" required/>
        
                </div>
              </div>
        
              <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="lastNameId">Last Name</label>
                <div class="col-md-8">
                  <input class="form-control w3-input" id="lastNameId" type="text" placeholder="{{lastName}}"
                    formControlName="lastName" minlength="5" required />
                </div>
              </div>
        
              <div class="form-group row mb-2">
                  <label class="col-md-2 col-form-label" for="emailId">Email ID</label>
                  <div class="col-md-8">
                    <input class="form-control w3-input" id="emailId" type="email" placeholder="{{email}}"
                      formControlName="email" pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
                  </div>
                </div>
        
                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="passwordId">Password</label>
                    <div class="col-md-8">
                      <input class="form-control w3-input" id="passwordId" type="text" placeholder="{{password}}"
                        formControlName="password"  pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$" required/>
                    </div>
                  </div>
        
                  <div class="form-group row mb-2">
                      <label class="col-md-2 col-form-label" for="ssnId">SSN</label>
                      <div class="col-md-8">
                        <input class="form-control w3-input" id="ssnId" type="text" placeholder="{{ssn}}"
                          formControlName="ssn" (keyup)="ssnValidator()" required/>
                      </div>
                    </div>
        
                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label" for="accountValueId">Account Value</label>
                        <div class="col-md-8">
                          <input class="form-control w3-input" id="accountValueId" type="text" placeholder="{{accountValue}}"
                            formControlName="accountValue" />
                        </div>
                      </div>
        
        
              <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="phoneId">Phone</label>
                <div class="col-md-8">
                  <input class="form-control w3-input" id="phoneId" type="tel" placeholder="{{phone}}" formControlName="phone" (keyup)='phoneValidator()' required />
        
                </div>
              </div>
        
              <!-- Credit Card Details -->

              
                  <div class="form-group row mb-2">
                      <label class="col-md-2 col-form-label" for="creditCardNoId">Credit Card Number</label>
                      <div class="col-md-8">
                        <input class="form-control w3-input" id="creditCardNoId" type="tel" placeholder="{{phone}}" formControlName="creditcardno" maxlength="16" required />
              
                      </div>
                    </div>
              


              
                  <div class="form-group row mb-2">
                      <label class="col-md-2 col-form-label" for="cvvId">CVV</label>
                      <div class="col-md-8">
                        <input class="form-control w3-input" id="cvvId" type="tel" placeholder="{{phone}}" formControlName="cvv" />
              
                      </div>
                    </div>
              

              
                  <div class="form-group row mb-2">
                      <label class="col-md-2 col-form-label" for="expiryDateId">Expiry Date</label>
                      <div class="col-md-8">
                        <input class="form-control w3-input" id="expiryDateId" type="tel" placeholder="{{phone}}" formControlName="expirydate" />
                        <!-- <input matInput [matDatepicker]="dp" placeholder="{{expirydate}}"  id="expiryDateId" formControlName="expirydate">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp
                                            startView="multi-year"
                                           
                                            panelClass="example-month-picker">
                            </mat-datepicker> -->
                      </div>
                    </div>
              

              
              <!-- Complete-Credit Card Details -->
        
              <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4 middle" >
                  <button class="btn btn-primary mr-3" id="editButton" type="button" (click)="edit()" >
        
                    Edit
                  </button>
                  </div></div>
                  
                
                  
              <div class="form-group row mb-2">
                  <div class="offset-md-2 col-md-4 middle" >
                    <button class="btn btn-primary mr-3" id="saveButton" type="submit">
          
                      Save
                    </button>
        
                </div>
              </div>

               

            </form>
          </div>
        </div>
      </div>
    </div>




