<div class="w3-content w3-margin-top" style="max-width:1400px;overflow: hidden;">
  <div class="w3-row-padding">
    <div class="w3-twothird">
      <div class="height w3-container w3-card w3-white w3-margin-bottom">
        <h4 class="w3-text-grey w3-padding-16"><i class="w3-margin-right w3-xxlarge w3-text-teal"></i>{{users[0].firstName}} {{users[0].lastName}}</h4>
        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-teal fa-2x">
          </i>{{users[0].email}}
        </p>
        <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-teal fa-2x">
          </i>{{users[0].phone}}
        </p>
        <p><i class="fa fa-id-card w3-margin-right w3-text-teal fa-2x">
          </i>{{users[0].ssn}}
        </p>
        <p><i class="fa fa-key f084 w3-margin-right w3-text-teal fa-2x">
          </i>{{users[0].password}}
        </p>
      </div>
    </div>
  </div>
</div>